@keyframes slideInDate{
    0%{
        transform: translateX(-249px);
    }
    100%{
        transform: translateX(0);
    }
}

.todo__header.overflow{
    overflow: hidden;
    transform: translateX(10px);
}

.todo__header .overflow h1{
    margin: 0;
    animation: slideInDate 0.5s ease both;
}
.todo__header .overflow #todaysdate{
    transform: translateX(-96px);
    display: block;
    animation: slideInDate 0.4s 0.1s both;
}
.todoinput{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px #777;
    background: #fff;
    transform: translateY(-40%);
}

.todoinput input{
    width: calc(100% - 60px);
    padding: 10px;
    outline: none;
    display: inline-block;
}
.todoinput input::placeholder{
    font-family: poppins;
    font-size: medium;
}
.todoinput .todo_button{
    display: inline-block;
    border: none;
    padding: 12px;
    background-color: cadetblue;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    color: #fff;
}